@use "./styles/variables.module.scss" as var;

.dictionaryPage {
  padding-top: calc(
    var.$dictionary-top-bar-height + var.$language-row-height + 10px
  );
}

.wordsList {
  display: flex;
  flex-direction: column;
}

.wordCard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "main translate";

  padding: 20px 0;
  border-bottom: 1px solid var(--md-sys-color-outline-variant);

  &.reverseRow {
    grid-template-areas: "translation main";
  }
}

.mainCol {
  grid-area: main;
}

.translateCol {
  grid-area: translation;
}
