.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-500);
}

.buttonNewWord {
  background-color: var(--color-300);
  font-size: 20px;
  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: auto;
}
