# Ignore all files in .vscode folder except settings.json and extensions.json
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# IDE
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Environment files (загальні)
.env.local
.env.production