@use "./styles/common.module.scss" as *;

.section {
  display: flex;
  flex-direction: column;
}

.titleRow {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 20px;
  justify-content: center;
}

@media (min-width: 768px) {
  .titleRow {
    justify-content: start;
  }
}

.sectionTitle {
  font-size: 32px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 15px;

  @media (max-width: 1360px) {
    justify-content: center;
  }
}

.card {
  background-color: var(--md-sys-color-surface-container-low);
  border: 1px solid var(--md-sys-color-outline-variant);

  width: $card-width;
  height: $card-height;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:hover {
    border: 1px solid var(--md-sys-color-outline);
    transform: translateY(-2px);
  }
}

.cardForDeletion {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  background-color: var(--md-sys-color-error);
  color: var(--md-sys-color-on-error);
  border-color: var(--md-sys-color-on-error);
}

.cardLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 15px;
  height: 100%;
  width: 100%;
}

.card__title {
  font-size: 24px;
  display: flex;
  gap: 6px;
}

.btnsWrapper {
  display: flex;
  margin-top: auto;
}
