@use "../../styles/variables.module.scss" as var;

.languageRow {
  display: grid;
  position: fixed;
  width: 100%;
  padding: 0 10px;
  grid-template-columns: 1fr 30px 1fr;
  grid-template-areas: "main switch translation";
  align-items: center;
  background-color: var(--md-sys-color-background);
  z-index: 3;
  height: var.$language-row-height;
}

.colWrapper {
  display: flex;
  align-items: center;
}

.reverseRow {
  grid-template-areas: "translation switch main";
}

.mainCol {
  grid-area: main;
}

.switchCol {
  grid-area: switch;
  cursor: pointer;
  width: 100%;
  justify-items: center;
}

.translateCol {
  grid-area: translation;
}
