.languageRow {
  display: grid;
  grid-template-columns: 1fr 30px 1fr;
  grid-template-areas: "main switch translation";
  align-items: center;
}

.colWrapper {
  display: flex;
  align-items: center;
}

.reverseRow {
  grid-template-areas: "translation switch main";
}

.mainCol {
  grid-area: main;
}

.switchCol {
  grid-area: switch;
}

.translateCol {
  grid-area: translation;
}
