@use "../../../../shared/styles/tokens/colors/" as colors;
.languageRow {
  display: grid;
  position: fixed;
  width: 94%;
  grid-template-columns: 1fr 30px 1fr;
  grid-template-areas: "main switch translation";
  align-items: center;
  background-color: var(--md-sys-color-background);
  z-index: 3;
}

.colWrapper {
  display: flex;
  align-items: center;
}

.reverseRow {
  grid-template-areas: "translation switch main";
}

.mainCol {
  grid-area: main;
}

.switchCol {
  grid-area: switch;
  cursor: pointer;
}
 
.translateCol {
  grid-area: translation;
}
