.timeTrackers {
}

.timeTracker {
  display: flex;
  align-items: center;
  // flex-direction: column;
  padding: 20px 7px;
  border-bottom: 1px solid var(--md-sys-color-outline-variant);
}

.icon {
  margin: 0 20px;
}

.nameAndTagWrapper {
  display: flex;
  flex-direction: column;
}

.tag {
  font-size: 16px;
  opacity: 0.8;
}

.time {
  display: flex;
  margin-left: auto;
}
