@use "@shared/styles/config" as *;

.navigation {
  background-color: aqua;

  position: fixed;
  width: $desktop-left-sidebar-width;
  height: 100dvh;
  background-color: var(--md-sys-color-surface-container-lowest);
  border-right: 1px solid var(--md-sys-color-outline-variant);
}
