.tableWrapper {
  display: flex;
  overflow-x: auto;
}

.table {
  border-collapse: separate;
}

.firstCol {
  position: sticky;
  left: 0;
  z-index: 1;
  background-color: var(--md-sys-color-surface-container-low);
  min-width: 150px;
  text-align: left;
}

.addHabitModal {
  position: fixed;
  top: 30vh;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--md-sys-color-surface-container-highest);
}
