@use "../../styles/variables.module.scss" as var;

.card {
  position: fixed;
  top: var.$dictionary-top-bar-height;
  height: fit-content;
  padding: 15px;
  right: 15px;
  left: 15px;
  background-color: var(--md-sys-color-surface-container-high);
  border-radius: 10px;
  border-bottom: 1px solid var(--md-sys-color-outline-variant);
  z-index: 100;

  @media (max-width: 768px) {
    right: 10px;
    left: 10px;
    padding: 8px;
  }
}

.form {
  display: flex;
  flex-direction: column;
}

.wordAndTranslationWrapper {
  display: flex;
  gap: 6px;
}

.actionRow {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
