@use "@/shared/styles/reset.scss";
@use "@/shared/styles";

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;

  @media (max-width: 768px) {
    padding: 0 10px;
  }
}

// .is-hidden {
//   display: none;
// }
