.navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-500);
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listItem {
  width: 100%;
}

.active {
  background-color: var(--color-600);
}

.link {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
