$horizontal-padding: 16px;

.dropdownSelect {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  min-height: 56px;
  padding: 0 $horizontal-padding;

  border: 1px solid var(--md-sys-color-outline-variant);
  border-radius: 4px;

  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-on-surface);

  font: inherit;
  font-size: 16px;

  cursor: pointer;

  transition:
    border-color 150ms ease,
    background-color 150ms ease;

  &:hover {
    border-color: var(--md-sys-color-outline);
  }

  &.open {
    border-color: var(--md-sys-color-outline);
  }
}

.label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: $horizontal-padding;
  transform-origin: left center;

  pointer-events: none;
  user-select: none;

  transition: all 0.15s ease;

  &.floating {
    $floating-horizontal-padding: 5px;

    top: 0;
    padding: 0 $floating-horizontal-padding;
    color: color-mix(in srgb, var(--md-sys-color-on-surface) 70%, transparent);
    scale: 0.9;
    background-color: var(--md-sys-color-surface);
    left: calc(
      $horizontal-padding - $floating-horizontal-padding
    ); // 16 - 5 = 11
  }
}

.selectedVariant {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  .chevron {
    transition: all 0.4s ease;

    &.rotate {
      transform: rotate(180deg);
    }
  }
}

.selectVariants {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  padding: 0 3px;
  box-shadow:
    0 1px 3px rgb(0 0 0 / 30%),
    0 4px 8px rgb(0 0 0 / 22%);
  background-color: var(--md-sys-color-surface-container-low);
  border-radius: 0 0 15px 15px;
  z-index: 100;

  opacity: 0;
  visibility: hidden;
  transform: translateY(-5px) scaleY(0.95);
  transform-origin: top;

  transition:
    opacity 150ms ease,
    transform 150ms ease,
    visibility 150ms ease;

  &.open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0) scaleY(1);
  }
}

.selectVariant {
  display: flex;
  border: none;
  border-radius: 15px;
  padding: 16px;
  border: 2px solid transparent;

  &:hover {
    background-color: var(--md-sys-color-surface-container-high);
    border: 2px solid var(--md-sys-color-outline-variant);
  }

  &.active {
    background-color: var(--md-sys-color-surface-container-high);
  }
}
