@use "../../styles//common.module.scss" as *;
@use "@shared/styles/tokens/colors/dark-blue";

.cardAddDictionary {
  gap: 5px;
  justify-content: space-between;
  width: $card-width;
  height: $card-height;
}

.btnsWrapper {
  display: flex;
  justify-content: space-between;
}

.mainLanguage {
  width: 235px !important;
  min-height: 31px !important;
}

.dropdownClassName {
  width: 235px !important;
  border: 1px solid var(--md-sys-color-surface) !important;
}

.secondaryLanguage {
  width: 235px !important;
  min-height: 31px !important;
  z-index: 0;
}
