@use "@shared/styles/tokens/colors/dark-blue";

.dictionarySelect {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  min-height: 56px;
  padding: 0 16px;

  border: 1px solid var(--md-sys-color-outline);
  border-radius: 4px;

  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-on-surface);

  font: inherit;
  font-size: 16px;

  cursor: pointer;

  transition:
    border-color 150ms ease,
    background-color 150ms ease;
}

.dictionarySelect:hover {
  border-color: var(--md-sys-color-on-surface);
}

.selectedVariant {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.selectVariants {
  display: flex;
  width: 100%;
  flex-direction: column;
  position: absolute;
  top: calc(100% + 2px);
  left: -1px;
  padding: 0 3px;
  box-shadow:
    0 1px 3px rgb(0 0 0 / 30%),
    0 4px 8px rgb(0 0 0 / 22%);
  background: var(--md-sys-color-surface);
  border-radius: 0 0 15px 15px;

  opacity: 0;
  visibility: hidden;
  transform: translateY(-5px) scaleY(0.95);
  transform-origin: top;

  transition:
    opacity 150ms ease,
    transform 150ms ease,
    visibility 150ms ease;

  &.open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0) scaleY(1);
  }
  z-index: 10;
}

.dictionariesVariant {
  display: flex;
  border: none;
  border-radius: 15px;
  padding: 16px;
  color: var(--md-sys-color-on-surface);

  &:hover {
    background-color: var(--md-sys-color-surface-container-high);
  }
}
