.UserProfileCard {
  background-color: var(--md-sys-color-surface-container-low);
  border-radius: 6px;
  padding: 7px;
  margin-top: 7px;
}

.topRow {
  display: flex;
  justify-content: space-between;
}

.profileLogoAndName {
  display: flex;
  gap: 20px;
}

.logo {
  max-width: 50px;
  max-height: 50px;
  object-fit: cover;

  border-radius: 50%;
}

.userInfo {
  display: flex;
  flex-direction: column;
}

.progressBarCard {
  display: flex;
  gap: 20px;
}

.block {
  margin-top: 20px;
  background-color: var(--md-sys-color-secondary-container);
  border-radius: 7px;
  padding: 8px;

  .label {
    opacity: 0.8;
  }

  .dataText {
    font-size: 28px;
    color: --md-sys-color-on-secondary-container;
  }
}
